// Links content to layout.jade

extend layout
block content
	p
		| Hello, My name is Kiel Werle. <br>
		| Welcome to my first ExpressJS site. <br>
		| Thanks go out to the NodeJS community and TJ Halowaychuk.
	p
		| Here you will find a collection of my personal contributions to the world.  <br>
		| Feel free to see where I've been and what I've captured by looking through my Galleries. <br>
		| Browse the sourcecode of the projects I've lead and contributed to by heading over to my gitHub. <br>
		| If you have a moment read through some of my Blog entries for a peek into my personal life. <br>
		| For ways to get in touch with me visit the Contact section. <br>
		| KWio
	
block sidebar
	.widget
		h1 Widget
		p
			| Alpha
			| Beta
		p
			| Gamma
			| Delta